@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    position: relative;

    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para por o bloco no centro da tela*/

    height: 627px;
    width: 311px;
    background:  url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}

section#rs{
    text-align: right;
}

section#rs img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.407);
    box-sizing: border-box;/* serve para a borda fazer parte da caixa*/
}

section#rs img:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform .5s, border 1s; /*a transição do transform vai demorar 0.5 segundo para comcluir, o border vai levar 1 segundo */
}